.login-container {
  background-color: #f0f2f5;
  min-height: 100vh;
  align-items: center;

  .container {
    transform: translateY(-50%);
    .content-left {
      max-width: 500px;
      .brand {
        color: #0866ff;
        font-weight: 800;
      }
    }

    .content-right {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 6px;
      .brand {
        color: #0866ff;
        font-weight: 800;
      }

      .forgot-password {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
